body {
    margin: 0;
    background-color: #222;
    font-family: 'Poppins', sans-serif;
}
.card {
	background: linear-gradient(135deg,#00feba,#5b548a);
	border-radius: 20px;
	color: #fff;
	margin: 100px auto;
	padding: 40px 35px;
	max-width: 270px;
	text-align: center;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 500px; 
    }
}

@media screen and (min-width: 1024px) {
    .card {
        max-width: 700px; 
    }
}